@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
	background-color: #ddead1;
	color: #22311d;
	margin: 1rem;
	padding: 1rem;
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	word-wrap: break-word;
}

.container {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 1rem;
	/* align-items: center; */
	justify-content: center;
}

.idea_block {
	flex: 40%;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #4b6043;
	color: #ddead1;
	transition: .3s;
}

.idea_block:hover {
	transform: scale(1.05);
}

.ref_block {
	flex: 20%;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding: 0.9rem;
	background-color: #4b6043;
	color: #ddead1;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: .4s;
}

.ref_block:hover {
	color: #4b6043;
	background-color: #ddead1;
	border: solid 0.2ch #4b6043;
}

img {
	max-width: 40%;
	aspect-ratio: 1 / 1;
}

@media screen and (max-width: 700px) {
	img {
	  max-width: 80%;
	}
}